<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ashtonmansion.amtradeshowmanagement">

    <uses-sdk android:minSdkVersion="17" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.ashtonmansion.tradeshowmanagement.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ashtonmansion.tradeshowmanagement.activity.TradeShows"
            android:label="@string/trade_shows_string"
            android:parentActivityName="com.ashtonmansion.tradeshowmanagement.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ashtonmansion.tradeshowmanagement.HomeActivity" />
        </activity>
        <activity
            android:name="com.ashtonmansion.tradeshowmanagement.activity.ConfigureBooths"
            android:label="@string/nav_drawer_config_booths_text"
            android:parentActivityName="com.ashtonmansion.tradeshowmanagement.activity.ConfigureBoothsShowSelection"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ashtonmansion.tradeshowmanagement.activity.ConfigureBoothsShowSelection" />
        </activity>
        <activity
            android:name="com.ashtonmansion.tradeshowmanagement.activity.ConfigureBoothsShowSelection"
            android:label="@string/nav_drawer_config_booths_text"
            android:parentActivityName="com.ashtonmansion.tradeshowmanagement.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ashtonmansion.tradeshowmanagement.HomeActivity" />
        </activity>
        <activity
            android:name="com.ashtonmansion.tradeshowmanagement.activity.BoothReservationShowSelection"
            android:label="@string/title_activity_make_reservation"
            android:parentActivityName="com.ashtonmansion.tradeshowmanagement.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ashtonmansion.tradeshowmanagement.HomeActivity" />
        </activity>
        <activity
            android:name="com.ashtonmansion.tradeshowmanagement.activity.CreateShow"
            android:label="@string/title_activity_create_show"
            android:parentActivityName="com.ashtonmansion.tradeshowmanagement.activity.TradeShows"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ashtonmansion.tradeshowmanagement.activity.TradeShows" />
        </activity>
        <activity
            android:name="com.ashtonmansion.tradeshowmanagement.activity.EditShow"
            android:label="@string/title_activity_edit_show"
            android:parentActivityName="com.ashtonmansion.tradeshowmanagement.activity.TradeShows"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ashtonmansion.tradeshowmanagement.activity.TradeShows" />
        </activity>
        <activity
            android:name="com.ashtonmansion.tradeshowmanagement.activity.CreateBooth"
            android:label="@string/title_activity_create_booth"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ashtonmansion.tradeshowmanagement.activity.EditBooth"
            android:label="@string/title_activity_edit_booth"
            android:parentActivityName="com.ashtonmansion.tradeshowmanagement.activity.ConfigureBooths"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ashtonmansion.tradeshowmanagement.activity.ConfigureBooths" />
        </activity>
        <activity
            android:name="com.ashtonmansion.tradeshowmanagement.activity.FilterBooths"
            android:label="@string/title_activity_filter_booths"
            android:parentActivityName="com.ashtonmansion.tradeshowmanagement.activity.ConfigureBooths"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ashtonmansion.tradeshowmanagement.activity.ConfigureBooths" />
        </activity>
        <activity
            android:name="com.ashtonmansion.tradeshowmanagement.activity.BoothReservation"
            android:label="@string/title_activity_booth_reservation"
            android:parentActivityName="com.ashtonmansion.tradeshowmanagement.activity.BoothReservationShowSelection"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ashtonmansion.tradeshowmanagement.activity.BoothReservationShowSelection" />
        </activity>
        <activity
            android:name="com.ashtonmansion.tradeshowmanagement.activity.ReserveBoothDetails"
            android:label="@string/title_activity_reserve_booth_details"
            android:parentActivityName="com.ashtonmansion.tradeshowmanagement.activity.BoothReservation"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ashtonmansion.tradeshowmanagement.activity.BoothReservation" />
        </activity>
        <activity
            android:name="com.ashtonmansion.tradeshowmanagement.activity.ApplicationSettings"
            android:label="@string/title_activity_application_settings"
            android:parentActivityName="com.ashtonmansion.tradeshowmanagement.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ashtonmansion.tradeshowmanagement.HomeActivity" />
        </activity>
    </application>

</manifest>